/*Pokedex App */
.pageheader{
  display:flex;
  padding: 20px
  }


body {
  background-image: url("img/pokemon.svg");
  background-repeat:no-repeat;
  background-color: #c73d32;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  font-size: 25px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.pokemon-List {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  padding: 5px;
  list-style-type: none;
}

.pokemon-List li {
  margin: 10px;
}



.my-class: hover,
.my-class: focus {
  cursor: pointer;

}

.my-class{
  background-color: #6f372d;
  color: #fff;
  font-size: 25px;
  border: 10px;
  border: black;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  height: 200px;
  width: 200px;
}

.page-footer{

  width: 100%;
  bottom: 0;
  display: flex;
  padding: 10px;
  clear: both;
  justify-content: center;
  text-align: center;
  color: white;
}
